@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0%;
}

:root {
  --color-1: #5788e4;
  --color-2: #4369b2;
}

body {
  max-width: 400px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  background-color: var(--color-1);
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  box-shadow: rgb(50 50 93 / 15%) 0 4px 6px -2px;
  background-color: var(--color-2);
  color: #fff;
}

.shop-name {
  font-family: "Arima", cursive;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
}

.back-btn {
  color: #fff;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  gap: 0.3rem;
  margin-top: 5%;
}

.search-input {
  padding: 0.4rem 0.6rem;
  border-radius: 20px;
  outline: none;
  border: none;
  text-align: center;
  font-style: italic;
}

.search-btn {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

.products-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  padding: 7% 4%;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  min-height: 230px;
  background-color: #fff;
  box-shadow: 6px 8px 9px -2px rgba(0, 0, 0, 0.34);
}

.item-image img {
  display: block;
  margin: 0 auto;
  width: 35%;
}

.item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  row-gap: 0.5rem;
  padding: 0.7rem 0.5rem;
}

.item-name {
  font-size: 0.7rem;
  color: black;
}

.item-price {
  color: green;
}

.item-category {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: 500;
  background-color: var(--color-2);
  border-radius: 20px;
  width: fit-content;
  align-self: center;
  padding: 0.3rem 0.7rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}

.loading-container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem 9.5rem;
}

.custom-loader {
  width: 50px;
  height: 50px;

  --c: radial-gradient(farthest-side, #fff 92%, #0000);

  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}

@keyframes s7 {
  to {
    transform: rotate(0.5turn);
  }
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4% 6%;
  background-color: #fff;
  border-radius: 20px;
  min-height: 600px;
  box-shadow: 6px 8px 9px -2px rgba(0, 0, 0, 0.34);
}

.details-img img {
  display: block;
  margin: 0 auto;
  width: 65%;
}

.details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-content .item-name {
  font-size: 1.3rem;
  text-align: center;
}

.details-content .item-price {
  font-size: 1.4rem;
}

.details-content .item-category {
  font-size: 0.6rem;
}

.details-content .item-description {
  font-size: 0.8rem;
  text-transform: none;
  color: black;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 100%;
  }

  .search-bar {
    margin-top: 3%;
    margin-left: 0;
  }

  .search-input {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
  }

  .search-btn {
    font-size: 1.4rem;
  }

  .products-section {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 7% 4%;
  }

  .item-card {
    min-height: 390px;
    max-width: 300px;
  }

  .item-image img {
    width: 45%;
  }

  .item-name {
    font-size: 1.1rem;
  }

  .item-price {
    font-size: 1.7rem;
  }

  .item-category {
    font-size: 0.7rem;
  }

  .product-detail-container {
    min-height: 600px;
    max-width: 700px;
    margin: 3% auto;
  }

  .details-content .item-description {
    font-size: 1rem;
  }

  .loading-container-home {
    margin: 11rem 43rem;
  }
}
